<html ng-app="app" ng-controller="appCtrl" >
	<head>
	</head>
	<body>
		<h1>Talk in English</h1>

		<input type="text" ng-model="app.nickname" placeholder="Nickname"/>
		<input type="number" ng-model="app.age" min="0" placeholder="Age"/>
		<select ng-model="app.sex">
			<option ng-repeat="sex in sexes" value="{{sex.id}}">
				{{sex.name}}
			</option>
		</select>
		<select ng-model="app.country">
				<option ng-repeat="country in countries" value="{{contry.id}}">
						{{country.name}}
				</option>
		</select>
		<select ng-model="app.level">
				<option ng-repeat="level in levels" value="{{level.id}}">
					{{level.name}}
				</option>
		</select>
		<input type="text" ng-model="app.goal" placeholder="Goal"/>

		<input type="checkbox" ng-repeat="contact in contacts" value="{{contact}}"/>


		<button type="button" ng-click="save()">Save</button>
		
		<table style="width:100%">
			<thead>
				<th>Nickname</th>
			</thead>
			<tbody>
				<tr ng-repeat="item in db">
					<td>{{item.nickname}}</td>
					<td>
						<button type="button" ng-click="edit(item)">Edit</button>
					<button type="button" ng-click="destroy(item)">Delete</button> 
					</td>
				</tr>
			</tbody>
		</table>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
		<script>
			var config = {
				apiKey: "AIzaSyCJMsg9RJwZK2DSq8smC_tWiLj4auuHucc",
				authDomain: "github-83df4.firebaseapp.com",
				databaseURL: "https://github-83df4.firebaseio.com",
				storageBucket: "github-83df4.appspot.com",
				messagingSenderId: "341443906538"
			};

			firebase.initializeApp(config);

			var app = angular.module("app", ["firebase"]);

			app.controller("appCtrl", function($scope, $firebaseArray) {
				$scope.initialize = function() {
					$scope.sexes = [
						{
							id: 1,
							name: 'Male'
						},
						{
							id: 2,
							name: 'Female'
						}
					];

					$scope.countries = [
						{
							id: 1,
							name: 'Brazil'
						},
					];

					$scope.levels = [
						{
							id: 1,
							name: 'Beginner'
						},
						{
							id: 2,
							name: 'Intermediate'
						},
						{
							id: 4,
							name: 'Advanced'
						},
						{
							id: 5,
							name: 'Fluent'
						},
						{
							id: 6,
							name: 'Native'
						},
					];

					$scope.empty = {
						nickname: '',
						age: '',
						sex: '',
						country: '',
						level: '',
						goal: '',
						contacts: {
							aim: '',
							gadu_gadu: '',
							google: '',
							ibm_sametime: '',
							icq: '',
							jabber: '',
							kde_talk: '',
							msn: '',
							office_365_lync: '',
							office_365_lync_libpurple: '',
							skype: '',
							telegram: '',
							yahoo_messager: '',
						}, interests: {

						}
					};

					$scope.editting = false;

					$scope.new();

					$scope.index();
				};

				$scope.index = function() {
					var ref = firebase.database().ref().child("talk_in_english");;
					$scope.db = $firebaseArray(ref);
				};

				$scope.new = function() {
					$scope.app = JSON.parse(JSON.stringify($scope.empty));
					$scope.editting = false;
				};

				$scope.create = function() {
					$scope.db.$add($scope.app);
					$scope.new();
				};

				$scope.show = function() {
					$scope.app = item;
				};

				$scope.edit = function(item) {
					$scope.app = item;
					$scope.editting = true;
				};

				$scope.update = function() {
					$scope.db.$save($scope.app);
					$scope.new();
				};

				$scope.save = function(item) {
					if ($scope.editting === true) {
						$scope.update(item);
					} else {
						$scope.create();
					}
				};

				$scope.destroy = function(item) {
					$scope.db.$remove(item);
				};

				$scope.initialize();
			});
		</script>
	</body>
</html>